{{> head }}
{{> navbar}}

<div class="container">
    <div class="row">

        <div class="col-8">
            <h1>
                Ravenclaw
            </h1>
            <p>
                Es una de las cuatro casas que componen el Colegio Hogwarts de Magia y Hechicería, fundada por Rowena
                Ravenclaw, quién tuvo una hija, cuyo fantasma es la Dama Gris la cual fue asesinada por el Barón
                Sanguinario. Su hija le robó la diadema que le pertenecía y huyó a los bosques de Albania, lugar donde
                fue
                asesinada, y donde años después, Lord Voldemort encuentra la diadema y la esconde en la sala de los
                menesteres, en el Colegio Hogwarts de Magia y Hechicería. Se dice que fue Ravenclaw quien le puso el
                nombre
                al castillo.
            </p>


        </div>
        <div class="col-4">
            <img src="assets/img/revenclaw.png" class="img-thumbnail">
        </div>

    </div>
</div>

{{> footer }}